.product-list-main .sidebar-main .filter-box.color .list-unstyled .beige a:after {
    background-color: #d2ac7f!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .black a:after {
    background-color: #000!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .blue a:after {
    background-color: #0074d9!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .brown a:after {
    background-color: brown!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .charcoal a:after {
    background-color: #36454f!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .burgundy a:after {
    background-color: #8c001a!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .champagne a:after {
    background-color: #f7e7ce!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .multi a:after {
    background: url('../images-kartmax/multi.png') no-repeat 50%!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .coral a:after {
    background-color: coral!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .cream a:after {
    background-color: #fffdd0!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .gold a:after {
    background-color: #d4af37!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .green a:after {
    background-color: green!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .grey a:after {
    background-color: grey!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .maroon a:after {
    background-color: maroon!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .navy-blue a:after,.product-list-main .sidebar-main .filter-box.color .list-unstyled .navy_blue a:after {
    background-color: navy!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .khaki a:after {
    background-color: #c3b091!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .tan a:after {
    background-color: tan!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .taupe a:after {
    background-color: #483c32!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .mustard a:after {
    background-color: #ffdb58!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .natural a:after {
    background-color: #ae4a60!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .nude a:after {
    background-color: #e3bc9a!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .sea-green a:after {
    background-color: #2e8b57!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .sky-blue a:after {
    background-color: #87ceeb!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .olive a:after {
    background-color: #3c341f!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .bronze a:after {
    background-color: #cd7f32!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .teal a:after {
    background-color: teal!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .turquiose a:after {
    background-color: #40e0d0!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .aqua a:after {
    background-color: #0ff!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .melange a:after {
    background-color: #c1cf7a!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .magenta a:after {
    background-color: #f0f!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .light-blue a:after {
    background-color: #add8e6!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .skin a:after {
    background-color: #cb8442!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .mauve a:after {
    background-color: #e0b0ff!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .lime-green a:after {
    background-color: #32cd32!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .lime a:after {
    background-color: #bfff00!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .navy a:after {
    background-color: navy!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .rust a:after {
    background-color: #b7410e!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .olive-green a:after {
    background-color: #556b2f!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .pista a:after {
    background-color: #93c572!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .carrot a:after {
    background-color: #eb8921!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .romantic-rani a:after,.product-list-main .sidebar-main .filter-box.color .list-unstyled .romantic_rani a:after {
    background-color: #ebd8d9!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .light-rust a:after,.product-list-main .sidebar-main .filter-box.color .list-unstyled .medium-rust a:after {
    background-color: #b7410e!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .medium-black a:after {
    background-color: #464648!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .medium-peach a:after {
    background-color: #ffdab9!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .light-brown a:after {
    background-color: #b5651d!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .light-carrot a:before {
    background-color: #eb8921!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .medium-carrot a:after {
    background-color: #f77042!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .dark-carrot a:after {
    background-color: #e9692c!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .dark-brown a:after {
    background-color: brown!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .d_grey a:after,.product-list-main .sidebar-main .filter-box.color .list-unstyled .dark-grey a:after {
    background-color: #a9a9a9!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .light-beige a:after {
    background-color: #e1c699!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .dark-blue a:after {
    background-color: #00008b!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .medium-melange a:after {
    background-color: #c1cf7a!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .navy-melange a:after {
    background-color: navy!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .medium-mustard a:after {
    background-color: #ffdb58!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .medium-blue a:after {
    background-color: #0000cd!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .medium-pink a:after {
    background-color: #ffb6c1!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .sky_blue a:after {
    background-color: #87ceeb!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .fluorescent-pink a:after {
    background-color: #ff1493!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .medium-maroon a:after {
    background-color: maroon!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .medium-red a:after {
    background-color: #801b1b!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .medium-air-force-blue a:after {
    background-color: #5d8aa8!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .dark-red a:after {
    background-color: #8b0000!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .grey-melange a:after,.product-list-main .sidebar-main .filter-box.color .list-unstyled .grey_mellange a:after {
    background-color: grey!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .medium-grey a:after {
    background-color: #939799!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .air-force-blue a:after {
    background-color: #5d8aa8!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .royal-blue a:after {
    background-color: #002366!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .dnm_bl a:after {
    background-color: #1560bd!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .dark-green a:after {
    background-color: #006400!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .fluorescent-green a:after {
    background-color: #83f52c!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .fuchsia-pink a:after {
    background-color: #ff0080!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .light-peach a:after {
    background-color: #ffdab9!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .dark-mustard a:after {
    background-color: #e1ad01!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .anthra-melange a:after {
    background-color: #c2b280!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .light-grey a:after {
    background-color: #d3d3d3!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .dark-melange a:after {
    background-color: #4d4e4f!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .ice-blue a:after {
    background-color: #a5f2f3!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .light-melange a:after {
    background-color: #c1cf7a!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .medium-beige a:after {
    background-color: #b39377!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .medium-brown a:after {
    background-color: #80604d!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .light-pink a:after {
    background-color: #ffb6c1!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .light-yellow a:after {
    background-color: #ff9!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .military a:after,.product-list-main .sidebar-main .filter-box.color .list-unstyled .militery a:after {
    background-color: #4b5320!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .black-melange a:after {
    background-color: grey!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .dark-purple a:after {
    background-color: purple!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .dark-sky-blue a:after {
    background-color: #8cbed6!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .denim_blue a:after {
    background-color: #2231a4!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .firozi-blue a:after,.product-list-main .sidebar-main .filter-box.color .list-unstyled .firozi_blue a:after,.product-list-main .sidebar-main .filter-box.color .list-unstyled .firozi a:after {
    background-color: #236dbb!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .fuchsia_pink a:after {
    background-color: #f7f!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .d_blue a:after {
    background-color: #00008b!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .l_blue a:after {
    background-color: #add8e6!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .m_blue a:after {
    background-color: #0000cd!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .light-red a:after,.product-list-main .sidebar-main .filter-box.color .list-unstyled .light_red a:after {
    background-color: #ffcccb!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .dark-violet a:after {
    background-color: #9400d3!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .pea-green a:after {
    background-color: #739122!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .dark-military a:after {
    background-color: #4b5320!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .fawn a:after {
    background-color: #e5aa70!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .light-green a:after {
    background-color: #90ee90!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .medium-sky-blue a:after {
    background-color: #80daeb!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .chiku a:after {
    background-color: #b5651d!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .light-rani a:after {
    background-color: #ffb6c1!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .light-teal a:after {
    background-color: #60a6b4!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .light-military a:after {
    background-color: #b8bc86!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .mint a:after {
    background-color: #98ff98!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .mango-yellow a:after {
    background-color: #ffc324!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .dark-teal a:after {
    background-color: #265b5f!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .light-orange a:after {
    background-color: #fed8b1!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .dark-rust a:after {
    background-color: #933a16!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .parrot-green a:after {
    background-color: #74ab37!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .light-khakhi a:after {
    background-color: #d4c69e!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .pine-green a:after {
    background-color: #01796f!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .dark-khakhi a:after {
    background-color: #6a5a3d!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .medium-military a:after {
    background-color: #b8bc86!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .medium-khakhi a:after {
    background-color: #c0ad8c!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .onion a:after {
    background-color: #8a1422!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .orange a:after {
    background-color: #ffa600!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .peach a:after {
    background-color: #ffe5b4!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .pink a:after {
    background-color: pink!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .purple a:after {
    background-color: purple!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .red a:after {
    background-color: #f80004!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .rose a:after {
    background-color: #ff007f!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .silver a:after {
    background-color: silver!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .steel a:after {
    background-color: #7b9095!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .white a:after {
    background-color: #fff!important;
    border: 1px solid #e3e3e3
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .wine a:after {
    background-color: #722f37!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .yellow a:after {
    background-color: rgb(255 239 46)!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .ecru a:after {
    background-color: #c2b280!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .off-white a:after,.product-list-main .sidebar-main .filter-box.color .list-unstyled .off_white a:after {
    background-color: #f5f2d0!important
}

.product-list-main .sidebar-main .filter-box.color .list-unstyled .neutral a:after {
    background-color: #9cc0e7!important
}

.product-detail-container .color_option .Beige {
    background-color: #ffdab9!important
}

.product-detail-container .color_option .Black {
    background-color: #000!important
}

.product-detail-container .color_option .Blue {
    background-color: #00f!important
}

.product-detail-container .color_option .Brown {
    background-color: brown!important
}

.product-detail-container .color_option .Coral {
    background-color: coral!important
}

.product-detail-container .color_option .Cream {
    background-color: #fffdd0!important
}

.product-detail-container .color_option .Gold {
    background-color: #d4af37!important
}

.product-detail-container .color_option .Green {
    background-color: green!important
}

.product-detail-container .color_option .Grey {
    background-color: grey!important
}

.product-detail-container .color_option .Maroon {
    background-color: maroon!important
}

.product-detail-container .color_option .Navy.Blue {
    background-color: navy!important
}

.product-detail-container .color_option .Khaki {
    background-color: #c3b091!important
}

.product-detail-container .color_option .Tan {
    background-color: tan!important
}

.product-detail-container .color_option .Mustard {
    background-color: #ffdb58!important
}

.product-detail-container .color_option .Sea.Green {
    background-color: #2e8b57!important
}

.product-detail-container .color_option .Sky_Blue {
    background-color: #87ceeb!important
}

.product-detail-container .color_option .Olive {
    background-color: #3c341f!important
}

.product-detail-container .color_option .Teal {
    background-color: teal!important
}

.product-detail-container .color_option .Aqua {
    background-color: #0ff!important
}

.product-detail-container .color_option .Melange {
    background-color: #c1cf7a!important
}

.product-detail-container .color_option .Magenta {
    background-color: #f0f!important
}

.product-detail-container .color_option .multicolor,.product-detail-container .color_option .multicolor1,.product-detail-container .color_option .multicolor2 {
    background-color: transparent!important;
    background-image: linear-gradient(90deg,red,orange,#ff0,green,#00f,indigo,violet)
}

.product-detail-container .color_option .Orange {
    background-color: #ffa600!important
}

.product-detail-container .color_option .Peach {
    background-color: beige!important
}